body {
    margin: unset;
    padding: unset;
    cursor: default;
    caret-color: #00000000;
    color: #ffffff;
    font-family: "Barlow";
    font-size: 1rem;
    background: url("/images/background/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    user-select: none;
    background-color: #000000;
}

img {
    height: 100%;
    width: 100%;
    object-position: center;
    filter: invert(100%);
}

div.loading {
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
    z-index: 100;
}
    div.loading img {
        width: 300px;
        height: 300px;
        object-position: center;
    }
div.header {
    position: relative;
    height: 50px;
    width: 100%;
    background: #303030c0;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
}
    div.header div.option {
        padding: 5px;
        margin: 0px 10px;
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
        div.header div.option:hover {
            background: #404040c0;
            border-radius: 5px;
        }
    div.header .grow {
        flex-grow: 1;
    }
div.navigation {
    position: absolute;
    width: 200px;
    background: #282828c0;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom-left-radius: 5px;
    transition: 0.2s;
    overflow: hidden;
    top: 50px;
    right: 0px;
    z-index: 99;
}
    div.navigation div.option {
        margin: 5px 0px;
        padding: 10px 0px;
        width: 190px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    div.navigation div.option:hover {
        box-shadow: 0px 0px 1px 1px #ffffff;
        border-radius: 5px;
    }
div.intro {
    margin: 20px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
    div.intro div.title {
        font-size: 4rem;
        font-weight: bold;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    div.intro div.text {
        margin: 10px 0px;
        font-weight: bold;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
div.projects {
    margin: 20px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
    div.projects div.title {
        margin: 10px 0px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        font-weight: bold;
    }
    div.projects div.text {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }
    div.projects div.options {
        margin: 20px 0px;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
        div.projects div.options div.option {
            position: relative;
            margin: 20px;
            width: 300px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            backdrop-filter: blur(4px);
            -webkit-backdrop-filter: blur(4px);
            background: #30303090;
            cursor: pointer;
        }
            div.projects div.options div.option:hover {
                box-shadow: 0px 0px 1px 1px #ffffff;
            }
        div.projects div.options div.text {
            width: 300px;
            height: 0px;
            position: absolute;
            top: 100px;
            transition: 0.2s;
            overflow: hidden;
        }
        div.projects div.options div.icon {
            height: 80px;
            width: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
        }   
        div.projects div.options div.option:hover > div.text {
            height: 30px;
        }

/* Footer Div */
div.footer {
    margin: 20px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
    div.footer div.copyright {
        color: #909090;
        transition: 0.2s;
    }
    div.footer div.copyright:hover {
        color: #ffffff;
        text-decoration: underline;
        cursor: pointer;
    }
/* Google Font Face */
@font-face {
    font-family: "Barlow";
    src: url("/css/font/Barlow.ttf");
}